VITE_APPWRITE_URL="https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6791fab200177efd774b"
VITE_APPWRITE_DATABASE_ID="6791fb880001db798748"
VITE_APPWRITE_COLLECTION_ID="6791fbba001953b759bf"
VITE_APPWRITE_BUCKET_ID="6791fd550001d767d73c"